[submodule "vendor/luau"]
	path = vendor/luau
	url = https://github.com/luau-lang/luau.git
[submodule "vendor/raylib"]
	path = vendor/raylib
	url = https://github.com/raysan5/raylib.git
[submodule "vendor/game-premake"]
	path = vendor/game-premake
	url = https://github.com/raylib-extras/game-premake.git
